:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    font-family: Krub, Helvetica, sans-serif

}



html{
    /*conversion para web */
    font-size: 62.5%;
    font-family: krub, Helvetica, sans-serif;
    /*Hack para modelo de caja*/
    box-sizing: border-box;
}

*,*b::before,* ::after{
    /*Hack para modelo de caja */
    box-sizing: inherit;
}

/* Tipografia*/
h1{
font-size: 3.8rem;
}

h2{
    font-size:1.8rem;
}

h3{
    font-size:1.8rem;
}
h1,h2,h3{
    text-align: center;
}

body{
    /*16 px es el estandar para navegadores */
    font-size: 16px;
}

.titulo{
    
    text-align: center;
    font-size: 3.8rem;

}

.titulo  span{
    font-size: 2rem;
}


.contenedor{
    max-width: 120 rem;
   /* margin-top: 0;*/
   /* margin: auto;*/
   /* margin-bottom: 0; */
   /* margin-left: auto; */
   margin: 0 auto;


}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal a{
    background-color: var(--secundario);
    color:  var(--blanco);
    /*quitar subrayado*/
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal{
   /* padding: 1rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content para filas y
    aling-items para columnas*/

    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
}
/* si al menos tiene 768px (tablet) */
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;

    }  
}


.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro)
}


.hero{
    /*../*/
    background-image: url("/img/hero.jpg");
    background-repeat: no repeat;
     /*cover cubre la imagen con todo el tamaño posible*/
    background-size: cover;
    height: 450px; /*Altura del elemento hero*/
    position: relative; /* para manipular la posicion
    el padre siempre debe ser relative*/

}

.contenido-hero{
    /* para manipular la posicion
    el hijo siempre debe ser relative*/
    position: absolute;
    background-color: rgba(0,0,0,.7); /*Al 70%*/
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.ubicacion{
    display: flex;
    align-items: flex-end;
}


.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding:1rem 3rem;
    /*borde redondeado*/
    border-radius: .5rem;
    margin-top: 1rem;
    font-size:2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    /*Ancho del boton al 90% para diseño movil*/
    width:90%;
    /*Alinear texto del boton*/
    text-align: center;
    /*Quitar el border*/
    border: none;
}
.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco);

    
}

@media (min-width: 768px){
    .boton{
        width: auto;
    }
}

.boton:hover{
    cursor: pointer;

}
/* Mis servicios */

@media (min-width: 768px) {
    .servicios{
       display : grid;
       /*Define el area de las columnas*/
      /* grid-template-columns: 1fr 1fr 1fr;*/
      /*grid-template-columns: 33.33% 33.33% 33.33% */
      grid-template-columns: repeat(3,1fr);


    }
    
 
}
.servicio{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    /*Interlineado */
    line-height: 2;
    text-align: center;

}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    /* */
    justify-content: space-evenly;
    align-items: center;

}

/* Contacto */

.formulario{
    background-color: var(--gris);
    width: min(60rem,100%); /* Ahorra media query.
    ¿Que es mas pequeño, 60 rem o 100% del ancho de la pantalla?
    si tengo un smartphone con 488px de ancho, ¿Que valor tomara?  El 100% porque es menor*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom:2 rem;
    text-transform: uppercase;
    color: var(--primario)
}

.contenedor-campos{

}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    /*Tomara el espacio disponible*/
    display: block;
}


input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}

.campo textarea{
    height: 20rem;
}

/*Utilidades */

.w-sm-100{
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;

}

.alinear-derecha{
    justify-content: flex-end;
}

/*Acomodar campos*/

@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2,1 fr);
        column-gap: 1rem;
        /*Darle espacio a cada fila*/
        grid-template-columns: auto auto 20rem;
        
        

    }
    .campo:nth-child(3), /*Correo*/
    .campo:nth-child(4){ /*Mensaje*/
        /*Ve de la columna 1 a la 3*/
        grid-column:1/3;

    }

}
.footer{
    text-align: center;
}